@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.icon-spin {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Custom Style for Fly Print */
@keyframes floatUp {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) rotate(2deg);
    opacity: 0;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

/* @keyframes indeterminateProgress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
} */

.float-up-animation {
  animation: floatUp 1.5s ease-out forwards;
}

.printer-pulse {
  animation: pulse 1s ease-in-out infinite;
}

/* Custom styles for the print layout */
@media print {
  @page {
    margin: 1cm;
  }

  /* Improve readability for printed text */
  body {
    font-size: 12pt;
    line-height: 1.5;
  }

  /* Remove unnecessary spacing */
  .container {
    padding: 0 !important;
  }

  /* Prevent blank first page */
  body::before {
    content: none !important;
  }

  /* Ensure content starts from first page */
  #__next,
  main {
    display: block !important;
    height: auto !important;
  }

  .print\:hidden {
    display: none !important;
  }

  .print\:break-before-page {
    break-before: page;
  }

  .print\:text-black {
    color: black !important;
  }

  /* Prevent page breaks inside important elements */
  .no-break {
    page-break-inside: avoid;
  }
}
/* Add a class for faster spin */
.fast-spin {
  animation-duration: 0.3s; /* Example: half the default duration */
}
